<h1>Edit Driver </h1>

<% if @driver.errors.messages.any? %>
  <section class="error-messages">
    There were some issues with your submission
    <ul>
      <% @driver.errors.messages.each do |column, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <%= column %>: <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @driver do |f| %>
    <p>Please enter the information you would like to edit</p>
    
    <div>
        <strong><%= f.label :name, 'Name:' %></strong>
        <%= f.text_field :name %>
    </div><br>

    <div>
        <strong><%= f.label 'VIN number:' %></strong>
        <%= f.text_field :vin %>
    </div>

  <%= f.submit "Submit" %>

<% end %>