<!-- app/views/website/index.html.erb -->
<h1>Driver Details</h1>

<p>
  Name: <%= @driver.name %>
</p>
<p>
  VIN: <%= @driver.vin %>
</p>
<p>
  Average Rating: <%= @driver.average_rating %>
</p>
<p>
  Total Revenue: <%= @driver.total_revenue %>

<%= link_to "Edit Driver", edit_driver_path(@driver.id) %>
<%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %> 

<h3>Trips</h3>
<ul class="trip-data">
  <% @driver.trips.each do |trip|%>
    <li><%= trip.id %></li>
    <li><%= trip.driver_id %></li>
    <li><%= trip.passenger_id %></li>
    <li><%= trip.date %></li>
    <li><%= trip.rating %></li>
    <li>$<%= trip.cost %></li>
  <% end %>
</ul>