<!-- app/views/website/index.html.erb -->
<h1>Driver Details</h1>
<h4> <%= @driver.name %> </h4>
<p>
 ID: <%= @driver.id %>
</p>
<p>
  VIN: <%= @driver.vin %>
</p>
<p>
  Average Rating: <%= @driver.average_rating %>
</p>
<p>
  Total Revenue: $<%= (@driver.total_revenue).round(2) %>
</p>
<p>
  Status: <%= @driver.status %>
</p>

<div class="actions">
  <%= link_to "Edit Driver", edit_driver_path(@driver.id) %>
  <%= link_to "Delete", driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure?"} %>
</div>

<h3>Trips</h3>
<table class="trip-data">
  <colgroup span="5"></colgroup>
    <tr>
      <th>Trip ID</th>
      <th>Passenger</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Cost</th>
    </tr>
    <% @driver.trips.each do |trip|%>
      <tr>
        <td><%= trip.id %></td>
        <td><%= Passenger.find_by(id: trip.passenger_id).name %></td>
        <td><%= trip.date %></td>
        <td><%= trip.rating %></td>
        <td>$<%= trip.cost %></td>
      </tr>
    <% end %>
</table>